In [17]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-04-01 14:17:18,-46.1927,168.8643,60.04,54,100,7.52
1,1,New Norfolk,AU,2021-04-01 14:17:19,-42.7826,147.0587,59.00,73,100,3.42
2,2,Rikitea,PF,2021-04-01 14:17:19,-23.1203,-134.9692,74.97,80,100,7.25
3,3,Bilibino,RU,2021-04-01 14:17:19,68.0546,166.4372,-5.30,94,92,6.69
4,4,Ushuaia,AR,2021-04-01 14:13:16,-54.8000,-68.3000,46.40,76,0,4.61

In [19]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Sola,VU,2021-04-01 14:17:20,-13.8833,167.5500,81.54,78,100,6.80
9,9,Hithadhoo,MV,2021-04-01 14:17:22,-0.6000,73.0833,84.11,76,100,16.49
16,16,Weligama,LK,2021-04-01 14:17:24,5.9667,80.4167,80.94,82,40,8.99
20,20,Nabire,ID,2021-04-01 14:17:25,-3.3667,135.4833,76.39,93,100,5.03
25,25,Avarua,CK,2021-04-01 14:17:26,-21.2078,-159.7750,77.00,83,8,2.30
30,30,Inhambane,MZ,2021-04-01 14:17:28,-23.8650,35.3833,84.20,51,20,9.22
31,31,Sisophon,KH,2021-04-01 14:17:28,13.5859,102.9737,87.84,51,65,8.99
32,32,Tevaitoa,PF,2021-04-01 14:17:28,-16.7833,-151.5000,80.80,75,98,2.46
33,33,Namibe,AO,2021-04-01 14:17:29,-15.1961,12.1522,80.44,72,15,11.34
39,39,Salalah,OM,2021-04-01 14:15:42,17.0151,54.0924,87.80,58,0,5.75

In [30]:
preferred_cities_df.count()

City_ID       182
City          182
Country       180
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
5        Sola      VU     81.54 -13.8833  167.5500
9   Hithadhoo      MV     84.11  -0.6000   73.0833
16   Weligama      LK     80.94   5.9667   80.4167
20     Nabire      ID     76.39  -3.3667  135.4833
25     Avarua      CK     77.00 -21.2078 -159.7750
30  Inhambane      MZ     84.20 -23.8650   35.3833
31   Sisophon      KH     87.84  13.5859  102.9737
32   Tevaitoa      PF     80.80 -16.7833 -151.5000
33     Namibe      AO     80.44 -15.1961   12.1522
39    Salalah      OM     87.80  17.0151   54.0924

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [44]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng                  Hotel Name
5        Sola      VU     81.54 -13.8833  167.5500          Leumerus Bungalows
9   Hithadhoo      MV     84.11  -0.6000   73.0833           Scoop Guest House
16   Weligama      LK     80.94   5.9667   80.4167         Weligama Bay Resort
20     Nabire      ID     76.39  -3.3667  135.4833      Hotel Nusantara Nabire
25     Avarua      CK     77.00 -21.2078 -159.7750                Paradise Inn
30  Inhambane      MZ     84.20 -23.8650   35.3833                      Oceano
31   Sisophon      KH     87.84  13.5859  102.9737               Pyramid Hotel
32   Tevaitoa      PF     80.80 -16.7833 -151.5000         Hôtel Raiatea Lodge
33     Namibe      AO     80.44 -15.1961   12.1522      Hotel Chik Chik Namibe
39    Salalah      OM     87.80  17.0151   54.0924  HAMDAN PLAZA HOTEL SALALAH

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))