## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configcopy2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_databasecopy.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,20.8947,-156.4700,78.80,61,40,17.27,scattered clouds
1,1,Srednekolymsk,RU,67.4500,153.6833,-21.32,99,76,2.73,broken clouds
2,2,Hohhot,CN,40.8106,111.6522,32.00,47,0,2.24,clear sky
3,3,Muravlenko,RU,63.7898,74.5230,28.63,97,100,7.74,overcast clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,39.20,75,90,26.46,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,20.8947,-156.4700,78.80,61,40,17.27,scattered clouds
6,6,Kloulklubed,PW,7.0419,134.2556,77.00,88,75,4.61,broken clouds
8,8,Arraial Do Cabo,BR,-22.9661,-42.0278,82.40,69,20,9.22,few clouds
9,9,Carnarvon,AU,-24.8667,113.6333,77.00,83,0,12.66,clear sky
11,11,Saint-Georges,GD,12.0564,-61.7485,84.20,65,20,24.16,few clouds
12,12,Gamba,GA,-2.6500,10.0000,78.78,86,100,6.20,light rain
13,13,Rikitea,PF,-23.1203,-134.9692,75.52,73,53,16.40,light rain
17,17,Manta,EC,-0.9500,-80.7333,84.20,79,20,10.36,few clouds
18,18,Georgetown,MY,5.4112,100.3354,81.00,89,40,3.44,light rain
25,25,Souillac,MU,-20.5167,57.5167,80.60,89,40,4.61,light rain

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             199
City                   199
Country                198
Lat                    199
Lng                    199
Max Temp               199
Humidity               199
Cloudiness             199
Wind Speed             199
Current Description    199
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kahului,US,20.8947,-156.4700,78.80,61,40,17.27,scattered clouds
6,6,Kloulklubed,PW,7.0419,134.2556,77.00,88,75,4.61,broken clouds
8,8,Arraial Do Cabo,BR,-22.9661,-42.0278,82.40,69,20,9.22,few clouds
9,9,Carnarvon,AU,-24.8667,113.6333,77.00,83,0,12.66,clear sky
11,11,Saint-Georges,GD,12.0564,-61.7485,84.20,65,20,24.16,few clouds
...,...,...,...,...,...,...,...,...,...,...
635,635,Bonoua,CI,5.2741,-3.5950,84.20,89,20,9.22,few clouds
638,638,Itarantim,BR,-15.6597,-40.0656,76.87,85,79,5.57,broken clouds
639,639,Inirida,CO,3.8653,-67.9239,87.60,61,91,2.04,overcast clouds
646,646,Topeka,US,39.0483,-95.6780,75.99,28,1,10.36,clear sky
651,651,Meulaboh,ID,4.1363,96.1285,76.23,85,99,2.48,heavy intensity rain

In [8]:
new_pref_df = preferred_cities_df.dropna()
new_pref_df.count()

Unnamed: 0             198
City                   198
Country                198
Lat                    198
Lng                    198
Max Temp               198
Humidity               198
Cloudiness             198
Wind Speed             198
Current Description    198
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_pref_df[["City", "Country", "Lat", "Lng", "Max Temp", "Current Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,Kahului,US,20.8947,-156.4700,78.80,scattered clouds,
6,Kloulklubed,PW,7.0419,134.2556,77.00,broken clouds,
8,Arraial Do Cabo,BR,-22.9661,-42.0278,82.40,few clouds,
9,Carnarvon,AU,-24.8667,113.6333,77.00,clear sky,
11,Saint-Georges,GD,12.0564,-61.7485,84.20,few clouds,
12,Gamba,GA,-2.6500,10.0000,78.78,light rain,
13,Rikitea,PF,-23.1203,-134.9692,75.52,light rain,
17,Manta,EC,-0.9500,-80.7333,84.20,few clouds,
18,Georgetown,MY,5.4112,100.3354,81.00,light rain,
25,Souillac,MU,-20.5167,57.5167,80.60,light rain,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
   
    hotels = requests.get(base_url, params=params).json()

    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,Kahului,US,20.8947,-156.4700,78.80,scattered clouds,Maui Seaside Hotel
6,Kloulklubed,PW,7.0419,134.2556,77.00,broken clouds,Storyboard Beach Resort
8,Arraial Do Cabo,BR,-22.9661,-42.0278,82.40,few clouds,Pousada Porto Praia
9,Carnarvon,AU,-24.8667,113.6333,77.00,clear sky,Hospitality Carnarvon
11,Saint-Georges,GD,12.0564,-61.7485,84.20,few clouds,Siesta Hotel
12,Gamba,GA,-2.6500,10.0000,78.78,light rain,
13,Rikitea,PF,-23.1203,-134.9692,75.52,light rain,Pension Maro'i
17,Manta,EC,-0.9500,-80.7333,84.20,few clouds,Balandra Hotel
18,Georgetown,MY,5.4112,100.3354,81.00,light rain,Cititel Penang
25,Souillac,MU,-20.5167,57.5167,80.60,light rain,Shanti Maurice Resort & Spa

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

clean_hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,Kahului,US,20.8947,-156.4700,78.80,scattered clouds,Maui Seaside Hotel
6,Kloulklubed,PW,7.0419,134.2556,77.00,broken clouds,Storyboard Beach Resort
8,Arraial Do Cabo,BR,-22.9661,-42.0278,82.40,few clouds,Pousada Porto Praia
9,Carnarvon,AU,-24.8667,113.6333,77.00,clear sky,Hospitality Carnarvon
11,Saint-Georges,GD,12.0564,-61.7485,84.20,few clouds,Siesta Hotel
13,Rikitea,PF,-23.1203,-134.9692,75.52,light rain,Pension Maro'i
17,Manta,EC,-0.9500,-80.7333,84.20,few clouds,Balandra Hotel
18,Georgetown,MY,5.4112,100.3354,81.00,light rain,Cititel Penang
25,Souillac,MU,-20.5167,57.5167,80.60,light rain,Shanti Maurice Resort & Spa
29,Puerto Ayora,EC,-0.7393,-90.3518,82.40,light rain,Finch Bay Galapagos Hotel

In [13]:
# 8a. Create the output File (CSV)

output_data_file = "clean_hotel_df.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))